<!DOCTYPE html>

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Webapp</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li>
              <a href="{{ url_for('logout') }}" class="pull-right">Log Out</a> 
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <h2>Welcome {{ name }}</h2>
        <div class="row col-sm-12">
            <form action="/post-message" method="POST">
                {{  form.hidden_tag() }}
                {{ wtf.form_field(form.message) }}
                <input type="submit" value="Post" class="btn btn-primary pull-right">
            </form>
        </div> 
      </div>

      <br>
      <br>
      <br>
      <div class="row col-sm-12">
            {% for message in messages %}
            <br>
            <br>
            <div>
                    <h4>{{message.username}} </h4> 
                    <small>{{message.created_at}}</small>
                    <p>{{message.content}}</p>
            </div>
 
            <div>
                <form action="/post-comment/{{message.id}}" method="POST">
                    {{  comment_form.hidden_tag() }}
                    {{ wtf.form_field(comment_form.comment) }}
                    <input type="submit" value="Post" class="btn btn-primary pull-right">
                </form>
             </div>
         



            {% for comment in comments %}
            {% if comment.message_id == message.id %}
            <div>
              <div class="transbox">
                <h4><small>{{ comment.username }}</small> replied:</h4>
                <small>{{ comment.created_at }}</small>
                <p>{{ comment.content }}</p>
              </div>
            </div>
            {% endif %}
            {% endfor %} 
            {% endfor %}
      </div>

      
</div>


{% endblock %}